{% if include.course %}
  {% assign course = include.course %}
{% else %}
  {% assign course = site.courses | where: 'id', include.id | first %}
{% endif %}

{% if course %}
  {% assign course_link = site.baseurl | append: course.url %}
  <article class="card-container clearfix">
    <div class="card-mask">
      <a class="card card-course" href="{{ course_link }}">
        <h1 class="card-title size-xlarge">
          <b>{{ course.title | smartify }}</b>
        </h1>
        
        <h3 class="card-subtitle">
          {% if course.duration %}
            <b class="label-timer">
              {{ course.duration | smartify }}
            </b>
          {% endif %}
          
          {% if course.participants %}
            <b class="label-people">
              Class of {{ course.participants | smartify }}
            </b>
          {% endif %}
        </h3>
        
        <div class="prose">
          {{ course.brief | markdownify }}
        </div>
        
        {% unless include.show_trainers == false %}
          {%
            include trainers_list.liquid
            trainers=course.trainers
            compact=true
          %}
        {% endunless %}
        
        <span class="card-button">
          Learn more &rarr;
        </span>
      </a>
    </div>
  </article>
{% endif %}
