{% if include.event %}
  {% assign event = include.event %}
{% else %}
  {% assign event = site.events | where: 'id', include.id | first %}
{% endif %}

{% if event %}
  {% assign event_link = site.baseurl | append: event.url %}
  <article class="card clearfix">
    <h1 class="card-subtitle size-xsmall">
      <b>{{ event.event_type }}</b>
      <span class="label-pin">
        {{ event.city }}
      </span>
    </h1>
    <h2 class="card-title size-xlarge">
      <b>{{ event.title }}</b>
      {{ event.dates }}
    </h2>
    <div class="prose">
      {{ event.brief | markdownify }}
    </div>
    
    {% assign event_trainers = '' | split: '' | push: event.trainer %}
    {%
      include trainers_list.liquid
      trainers=event_trainers
      link=event_link
    %}
    
    <a class="card-button size-small" href="{{ event_link }}">
      <span>Details &amp; Tickets &rarr;</span>
    </a>
  </article>
{% endif %}