{% if include.testimonial %}
  {% assign testimonial = include.testimonial %}
{% elsif include.slug %}
  {% assign testimonial = site.testimonials | where: 'slug', include.slug | first %}
{% endif %}

{% if testimonial %}
  {% assign t_id =  'testimonial-' | append: testimonial.slug %}
  {% assign t_truncate =  testimonial.content | size %}
  
  <aside id="{{ t_id }}" class="speechbubble">
    <blockquote class="speechbubble-quote">
      {% if t_truncate > 250 %}
        <div class="truncate-el">
      {% endif %}
          
          {{ testimonial.content | markdownify }}
          
      {% if t_truncate > 250 %}
          <a
            class="truncate-dismiss"
            href="#{{ t_id }}">
            <span class="truncate-button">
              …Read More
            </span>
          </a>
        </div>
      {% endif %}
    </blockquote>
    
    {% if testimonial.photo %}
      <figure class="speechbubble-photo">
        <img alt=" " src="{{ site.baseurl | append: testimonial.photo }}">
      </figure>
    {% endif %}

    <h4 class="speechbubble-attribution size-large">
      {{ testimonial.title }}
    </h4>
    <h5 class="speechbubble-credentials size-small">
      <b>{{ testimonial.org }}</b>
      {{ testimonial.designation }}
    </h5>
  </aside>
{% endif %}