{% if include.trainer %}
  {% assign trainer = include.trainer %}
{% else %}
  {% assign trainer = site.trainers | where: 'id', include.id | first %}
{% endif %}

{% if trainer %}
  <article class="prose">
    <h3 class="size-large">
      <a href="{{ site.baseurl | append: trainer.url }}">
        {{ trainer.title }}
      </a>
    </h3>
    
    <ul class="links-list">
      {% for link in trainer.links %}
        <li>
          {% if link[0] == 'twitter' %}
            <a href="https://twitter.com/{{ link[1] }}">
              @{{ link[1] }}
            </a>
          {% else %}
            <a href="{{ link[1] }}">
              {{ link[0] | capitalize }}
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    
    {% if trainer.photo %}
      <figure class="profile-photo">
        <img alt=" " src="{{ site.baseurl | append: trainer.photo }}">
      </figure>
    {% endif %}
    
    <div>
      {{ trainer.bio | markdownify }}
    </div>
  </article>
{% endif %}
