---
layout: html
---

<header class="container">
  <h1 class="size-large">
    <a href="{{ site.baseurl | append: '/' }}">
      Pipal Academy
    </a>
  </h1>
  {% comment %}
  <nav>
    <ul>
      <li><a href="{{ site.baseurl | append:'/courses' }}">Courses</a></li>
      <li><a href="{{ site.baseurl | append:'/about' }}">About</a></li>
      <li><a href="{{ site.baseurl | append:'/contact' }}">Contact</a></li>
    </ul>
  </nav>
  {% endcomment %}
</header>



{{ content }}



<footer class="container">
  <hr>
  
  <dl>
    {% assign sitemap = site.collections | where: 'output', true %}
    {% for collection in sitemap %}
      <dt>
        {% assign slug = collection.title | slugify %}
        <a href="{{ site.baseurl | append: '/' | append: slug }}">
          {{ collection.title }}
        </a>
      </dt>
      <dd>
        {% if collection.output %}
          <ul>
            {% for doc in collection.docs %}
              <li>
                <a href="{{ site.baseurl | append: doc.url }}">
                  {{ doc.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          {{ collection.docs | map: 'title' | join: ', ' }}
        {% endif %}
      </dd>
    {% endfor %}
  </dl>
  
  <hr>
  
  <p>&copy; Pipal Academy</p>
</footer>