---
layout: html

global_nav:
  - title: Home
    url: /
  - title: Courses
    url: /courses/
  - title: About
    url: /about/
  - title: Contact
    url: /contact/
  - title: Newsletter
    url: https://tinyletter/anandology

---

<header class="header container clearfix">
  <h1 class="header-logo size-xlarge">
    <a href="{{ site.baseurl | append: '/' }}">
      Pipal Academy
    </a>
  </h1>
  <nav class="header-nav">
    <ul>
      {% for item in layout.global_nav %}
        {% if page.url == item.url %}
          {% assign attr = 'class="active"' %}
        {% else %}
          {% assign attr = '' %}
        {% endif %}
        <li>
          <a {{ attr }} href="{{ site.baseurl | append: item.url }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>



{{ content }}



<footer class="footer">
  <div class="container">
    <div class="prose">
      <p>
        In-depth <a href="{{ site.baseurl | append: '/courses' }}">courses</a>
        and <a href="{{ site.baseurl | append: '/events' }}">workshops</a>
        by <a href="{{  site.baseurl | append: '/trainers' }}">expert trainers</a>
        on niche technical topics.
        Learn more <a href="{{ site.baseurl | append: '/about' }}">about us</a>
        or
        <a href="{{ site.baseurl | append: '/contact' }}">contact us</a>.
      </p>
    </div>
    
    <ul class="footer-links size-small">
      <li>&copy; {{ site.time | date: "%Y" }} {{ site.name }}</li>
      <li><a href="https://twitter.com/pipalacademy">Twitter</a></li>
      <li><a href="https://github.com/pipalacademy">GitHub</a></li>
    </ul>
  </div>
</footer>
