---
layout: html
---

<header class="container">
  <h1 class="size-large">
    <a href="{{ site.baseurl }}">
      Pipal Academy
    </a>
  </h1>
  {% comment %}
  <nav>
    <ul>
      <li><a href="{{ site.baseurl | append:'/courses' }}">Courses</a></li>
      <li><a href="{{ site.baseurl | append:'/about' }}">About</a></li>
      <li><a href="{{ site.baseurl | append:'/contact' }}">Contact</a></li>
    </ul>
  </nav>
  {% endcomment %}
</header>



{{ content }}



<footer class="container">
  <p>&copy; Pipal Academy</p>
</footer>