---
layout: html

about_links:
  - title: Team
    url: /trainers
  - title: Articles
    url: /articles
  - title: Contact
    url: /contact

---

<header class="container">
  <h1 class="size-large">
    <a href="{{ site.baseurl | append: '/' }}">
      Pipal Academy
    </a>
  </h1>
  {% comment %}
  <nav>
    <ul>
      <li><a href="{{ site.baseurl | append:'/courses' }}">Courses</a></li>
      <li><a href="{{ site.baseurl | append:'/about' }}">About</a></li>
      <li><a href="{{ site.baseurl | append:'/contact' }}">Contact</a></li>
    </ul>
  </nav>
  {% endcomment %}
</header>



{{ content }}



<footer class="container">
  <hr>
  <dl>
    {%
      include footer_links.liquid
      title="About"
      list=layout.about_links
    %}
    
    {%
      include footer_links.liquid
      title="Courses"
      list=site.courses
    %}
    
    {%
      include footer_links.liquid
      title="Events"
      list=site.events
    %}
  </dl>
  
  <hr>
  
  <p>&copy; Pipal Academy</p>
</footer>