---
layout: base
---

<article class="">
  <header class="banner clearfix">
    <div class="container">
      <h1 class="banner-title">
        {{ page.title }}
      </h1>
      <div class="size-larges">
        {{ page.brief | markdownify }}
      </div>
    </div>
  </header>
  
  {% if page.video %}
    <figure class="containers">
      <div class="embed-fluid">
        {{ page.video }}
      </div>
    </figure>
  {% endif %}
  
  <section class="container">
    <h2 class="section-heading size-xlarge">
      Audience
    </h2>
    <div class="prose">
      {{ page.audience | markdownify }}
    </div>
    
    <div class="highlight">
      <h3 class="highlight-heading size-small">
        Pre-requisites
      </h3>
      <div class="prose">
        {{ page.prerequisites | markdownify }}
      </div>
    </div>
  </section>
  
  <section class="container">
    <h2 class="section-heading size-xlarge">
      Course Outline
    </h2>
    <div class="prose">
      {{ page.outline | markdownify }}
    </div>
  </section>
</article>
