---
layout: base

action: |
  Sales pitch goes here. Currently using placeholder text from
  the old <http://pipal.in/contact> page. Best way to reach us is by email.
  
  Please write to us at <hello@pipal.in>.

sections:
  events: Upcoming Events
  description: The Course
  audience: Audience
  outline: Course Outline
  testimonials: Testimonials
  format: Duration & Format
  trainers: Trainers

---

{% assign trainers_size = page.trainers | size %}
{% if trainers_size > 1 %}
  {% assign trainers_title = 'Trainers' %}
{% else %}
  {% assign trainers_title = 'Trainer' %}
{% endif %}
{% assign trainers_id = trainers_title | slugify | prepend: '#' %}


<article class="theme-course clearfix">
  <header class="banner clearfix">
    <div class="container clearfix">
      {% if page.duration or page.participants %}
        <dl class="labels">
          {% if page.duration %}
            <dt class="visuallyhidden">Suggested Duration</dt>
            <dd class="label-timer">
              <a href="#duration-format">
                {{ page.duration | smartify }}
              </a>
            </dd>
          {% endif %}
          {% if page.participants %}
            <dt class="visuallyhidden">Participants</dt>
            <dd class="label-people">
              <a href="#duration-format">
                Class of {{ page.participants | smartify }}
              </a>
            </dd>
          {% endif %}
        </dl>
      {% endif %}
      
      <h1 class="banner-title">
        {{ page.title | smartify }}
      </h1>
      
      <div class="sidebar prose">
        {{ page.brief | markdownify }}
      </div>
      
      <div class="mainbar">
        {%
          include trainers_list.liquid
          trainers=page.trainers
          title=true
          link=trainers_id
        %}
      </div>
    </div>
  </header>
  
  <section class="container clearfix">
    <div class="mainbar">
      <div class="action-container">
        <button class="button button-multiline action-toggle" data-toggle="#action">
          Request Course
          <i>
            Get it conducted at your org
          </i>
        </button>
        <div id="action" class="action-body prose clearfix">
          {{ layout.action | markdownify }}
        </div>
      </div>
    </div>
    <nav class="sidebar">
      {%
        include toc.liquid
        sections=layout.sections
        page=page
        trainer_title=trainer_title
      %}
    </nav>
  </section>
  
  
  {% if page.video %}
    <figure class="container">
      <div class="mainbar">
        <div class="embed-fluid">
          {{ page.video }}
        </div>
      </div>
    </figure>
  {% endif %}
  
  <hr class="invisible">
  
  {%
    include section.liquid
    title="Upcoming Events"
    teasers=page.events
    teaser_template='event_teaser.liquid'
  %}
  
  {%
    include section.liquid
    title="The Course"
    body=page.description
  %}
  
  {%
    include section.liquid
    title="Audience"
    body=page.audience
    highlight_title='Pre-requisites'
    highlight=page.prerequisites
  %}
  
  {%
    include section.liquid
    title="Course Outline"
    body=page.outline
  %}
  
  {%
    include section.liquid
    title="Testimonials"
    teasers=page.testimonials
    teaser_template='testimonial.liquid'
  %}
  
  {%
    include section.liquid
    title="Duration & Format"
    body=page.format
    highlight_title='Infrastructure'
    highlight=page.infrastructure
  %}
  
  
  
  {%
    include section.liquid
    title=trainers_title
    teasers=page.trainers
    teaser_template='trainer_teaser.liquid'
  %}
</article>
