---
layout: base
---

<article class="">
  <header class="banner clearfix">
    <div class="container">
      <h1 class="banner-title">
        {{ page.title }}
      </h1>
      <div class="size-larges">
        {{ page.brief | markdownify }}
      </div>
      
      {% if page.duration or page.participants %}
        <dl class="labels">
          {% if page.duration %}
            <dt class="visuallyhidden">Suggested Duration</dt>
            <dd class="label-timer">
              <a href="#duration-format">
                {{ page.duration }}
              </a>
            </dd>
          {% endif %}
          {% if page.participants %}
            <dt class="visuallyhidden">Participants</dt>
            <dd class="label-people">
              <a href="#duration-format">
                Class of {{ page.participants }}
              </a>
            </dd>
          {% endif %}
        </dl>
      {% endif %}
      
      {%
        include trainers_list.liquid
        trainers=page.trainers
        link='#trainers'
      %}
    </div>
  </header>
  
  
  {% if page.video %}
    <figure class="container">
      <div class="embed-fluid">
        {{ page.video }}
      </div>
    </figure>
  {% endif %}
  
  
  {% if page.events %}
    <section class="container">
      <h2 class="section-heading size-xlarge">
        Upcoming Events
      </h2>
      
      {% for e_path in page.events %}
        {% assign event = site.events | where: 'id', e_path | first %}
        {% assign event_link = site.baseurl | append: event.url %}
        {% if event %}
          <article class="advert clearfix">
            <h1 class="advert-subtitle size-xsmall">
              <b>{{ event.event_type }}</b>
              <span class="label-pin">
                {{ event.city }}
              </span>
            </h1>
            <h2 class="advert-title size-xlarge">
              <b>{{ event.title }}</b>
              {{ event.dates }}
            </h2>
            <div class="prose">
              {{ event.brief | markdownify }}
            </div>
            
            {% assign event_trainers = '' | split: '' | push: event.trainer %}
            {%
              include trainers_list.liquid
              trainers=event_trainers
              link=event_link
            %}
            
            <a class="advert-button size-small" href="{{ event_link }}">
              <span>Details &amp; Tickets &rarr;</span>
            </a>
          </article>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}
  
  
  {%
    include section.liquid
    title="The Course"
    body=page.description
  %}
  
  {%
    include section.liquid
    title="Audience"
    body=page.audience
    highlight_title='Pre-requisites'
    highlight=page.prerequisites
  %}
  
  {%
    include section.liquid
    title="Course Outline"
    body=page.outline
  %}
  
  
  {% if page.testimonials %}
    <section>
      <header class="container">
        <h2 class="section-heading size-xlarge">
          Testimonials
        </h2>
      </header>
      
      {% for t_id in page.testimonials %}
        {% assign testimonial = site.testimonials | where: 'id', t_id | first %}
        {% assign t_id =  'testimonial-' | append: testimonial.slug %}
        {% assign t_truncate =  testimonial.content | size %}
        {% if testimonial %}
          <aside id="{{ t_id }}">
            <blockquote class="speechbubble container">
              {% if t_truncate > 250 %}
                <div class="truncate-el">
              {% endif %}
                  
                  {{ testimonial.content | markdownify }}
                  
              {% if t_truncate > 250 %}
                  <a
                    class="truncate-dismiss"
                    href="#{{ t_id }}">
                    <span class="truncate-button">
                      …Read More
                    </span>
                  </a>
                </div>
              {% endif %}
            </blockquote>
            <hgroup class="container">
              <h4 class="speechbubble-attribution size-large">
                {{ testimonial.title }}
              </h4>
              <h5 class="speechbubble-credentials size-small">
                <b>{{ testimonial.org }}</b>
                {{ testimonial.designation }}
              </h5>
            </hgroup>
          </aside>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}
  
  
  {%
    include section.liquid
    title="Duration & Format"
    body=page.format
    highlight_title='Infrastructure'
    highlight=page.infrastructure
  %}
  
  
  {% if page.trainers %}
    <section id="trainers" class="container">
      {% assign trainers_count = include.trainers | size %}
      <h2 class="section-heading size-xlarge">
        Trainer{% if trainers_count > 1 %}s{% endif %}
      </h2>
      {% for tr_id in page.trainers %}
        {% assign trainer = site.trainers | where: 'id', tr_id | first %}
        {% if trainer %}
          <article class="prose">
            <h3 class="size-large">
              {{ trainer.title }}
            </h3>
            
            <ul class="links-list">
              {% for link in trainer.links %}
                <li>
                  {% if link[0] == 'twitter' %}
                    <a href="https://twitter.com/{{ link[1] }}">
                      @{{ link[1] }}
                    </a>
                  {% else %}
                    <a href="{{ link[1] }}">
                      {{ link[0] | capitalize }}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
            
            {% if trainer.photo %}
              <figure class="profile-photo">
                <img alt=" " src="{{ site.baseurl | append: trainer.photo }}">
              </figure>
            {% endif %}
            
            <div>
              {{ trainer.bio | markdownify }}
            </div>
          </article>
        {% endif %}
      {% endfor %}
    </section>
  {% endif %}
</article>
