---
layout: base
---

<article class="">
  <header class="banner clearfix">
    <div class="container">
      <h1 class="banner-title">
        {{ page.title }}
      </h1>
      <div class="size-larges">
        {{ page.brief | markdownify }}
      </div>
      
      {% if page.duration or page.participants %}
        <dl class="labels">
          {% if page.duration %}
            <dt class="visuallyhidden">Suggested Duration</dt>
            <dd class="label-timer">
              <a href="#duration-format">
                {{ page.duration }}
              </a>
            </dd>
          {% endif %}
          {% if page.participants %}
            <dt class="visuallyhidden">Participants</dt>
            <dd class="label-people">
              <a href="#duration-format">
                Class of {{ page.participants }}
              </a>
            </dd>
          {% endif %}
        </dl>
      {% endif %}
      
      {%
        include trainers_list.liquid
        trainers=page.trainers
        title=true
        link='#trainers'
      %}
    </div>
  </header>
  
  
  {% if page.video %}
    <figure class="container">
      <div class="embed-fluid">
        {{ page.video }}
      </div>
    </figure>
  {% endif %}
  
  
  {% if page.events %}
    <section class="container">
      <h2 class="section-heading size-xlarge">
        Upcoming Events
      </h2>
      
      {% for e_id in page.events %}
        {%
          include event_teaser.liquid
          id=e_id
        %}
      {% endfor %}
    </section>
  {% endif %}
  
  
  {%
    include section.liquid
    title="The Course"
    body=page.description
  %}
  
  {%
    include section.liquid
    title="Audience"
    body=page.audience
    highlight_title='Pre-requisites'
    highlight=page.prerequisites
  %}
  
  {%
    include section.liquid
    title="Course Outline"
    body=page.outline
  %}
  
  
  {% if page.testimonials %}
    <section class="container">
      <header>
        <h2 class="section-heading size-xlarge">
          Testimonials
        </h2>
      </header>
      
      {% for t_id in page.testimonials %}
        {%
          include testimonial.liquid
          id=t_id
        %}
      {% endfor %}
    </section>
  {% endif %}
  
  
  {%
    include section.liquid
    title="Duration & Format"
    body=page.format
    highlight_title='Infrastructure'
    highlight=page.infrastructure
  %}
  
  
  {% if page.trainers %}
    <section id="trainers" class="container">
      {% assign trainers_count = page.trainers | size %}
      <h2 class="section-heading size-xlarge">
        Trainer{% if trainers_count > 1 %}s{% endif %}
      </h2>
      {% for tr_id in page.trainers %}
        {%
          include trainer_teaser.liquid
          id=tr_id
        %}
      {% endfor %}
    </section>
  {% endif %}
</article>
