---
layout: base

sections:
  video: Preview
  schedule: Schedule
  outline: Outline
  testimonials: Testimonials
  trainer: Trainer
  course: Related Course

---

<article class="theme-event page-entity clearfix">
  <header class="banner clearfix">
    <div class="container clearfix">
      {% if page.event_type or page.city %}
        <dl class="labels">
          {% if page.event_type %}
            <dt class="visuallyhidden">Event Type</dt>
            <dd class="label">
              {{ page.event_type | smartify }}
            </dd>
          {% endif %}
          {% if page.city %}
            <dt class="visuallyhidden">Location</dt>
            <dd class="label-pin">
              <a href="#venue">
                {{ page.city | smartify }}
              </a>
            </dd>
          {% endif %}
          {% if page.time %}
            <dt class="visuallyhidden">Time</dt>
            <dd class="label-timer">
              <a href="#schedule">
                {{ page.time | smartify }}
              </a>
            </dd>
          {% endif %}
        </dl>
      {% endif %}
      
      <time class="size-large">
        {{ page.dates | smartify }}
      </time>
        
      <h1 class="banner-title">
        {{ page.title | smartify }}
      </h1>
        
      <div class="sidebar prose">
        {{ page.brief | markdownify }}
      </div>
      
      <div class="mainbar">
        {% assign trainers = '' | split:'' | push:page.trainer %}
        {%
          include trainers_list.liquid
          trainers=trainers
          title=true
          link='#trainer'
        %}
      </div>
    </div>
  </header>
  
  <section class="container">
    <div class="mainbar">
      <div class="action-container">
        <button class="button{% if page.tickets_prices %} button-multiline{% endif %} action-toggle" data-toggle="#register">
          Register for&nbsp;Event
          {% if page.tickets_prices %}
            <i>
              {{ page.tickets_prices }}
            </i>
          {% endif %}
        </button>
        <div id="register" class="action-body prose clearfix">
          {{ page.tickets_embed | replace: '<site.baseurl>', site.baseurl }}
        </div>
      </div>
    </div>
    <nav class="sidebar">
      {%
        include toc.liquid
        sections=layout.sections
        page=page
      %}
    </nav>
  </section>
  
  {%
    include section.liquid
    body=page.description
    highlight_title='Pre-requisites'
    highlight=page.prerequisites
  %}
  
  <hr class="invisible">
  
  {%
    include section.liquid
    title='Preview'
    body=page.video
    video=true
  %}
  
  {%
    include section.liquid
    title="Schedule"
    body=page.schedule
    highlight_title='Venue'
    highlight=page.venue
  %}
  
  {%
    include section.liquid
    title="Outline"
    body=page.outline
  %}
  
  {%
    include section.liquid
    title="Testimonials"
    teasers=page.testimonials
    teaser_template='testimonial.liquid'
  %}
  
  {%
    include section.liquid
    title="Trainer"
    teasers=trainers
    teaser_template='trainer_teaser.liquid'
  %}
  
  {% if page.course %}
    {% assign courses = '' | split:'' | push:page.course %}
    {%
      include section.liquid
      title="Related Course"
      teasers=courses
      teaser_template='course_teaser.liquid'
    %}
  {% endif %}
  
</article>

<style type="text/css">
#boxoffice-widget .payment-stages-wrapper {
  background-color: #F3E9D2;
  color: #114B5F;
}
</style>