---
layout: base
---

<article class="theme-trainer page-entity">
  <header class="banner clearfix">
    <div class="container">
      <div class="sidebar">
        {% if page.photo %}
          <figure class="banner-photo">
            <img alt=" " src="{{ site.baseurl | append: page.photo }}">
          </figure>
        {% endif %}
      </div>
      
      <div class="mainbar">
        <h1 class="banner-title">
          {{ page.title | smartify }}
        </h1>
        
        {% if page.links.twitter %}
          <h2 class="banner-subtitle size-large">
            <a href="https://twitter.com/{{ page.links.twitter }}">
              @{{ page.links.twitter }}
            </a>
          </h2>
        {% endif %}
        
        <div class="prose">
          {{ page.bio | markdownify }}
        </div>
        
        <ul class="labels">
          {% for link in page.links %}
            {% if link[0] == 'twitter' %}
              {% assign link_url = 'https://twitter.com/' | append: link[1] %}
            {% else %}
              {% assign link_url = link[1] %}
            {% endif %}
            <li class="label">
              <a href="{{ link_url }}">
                {{ link[0] | capitalize }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </header>
  
  {% assign courses = '' | split: '' %}
  {% for course in site.courses %}
    {% if course.trainers contains page.id %}
      {% assign courses = courses | push: course.id %}
    {% endif %}
  {% endfor %}
  {%
    include section.liquid
    title="Courses Conducted"
    teasers=courses
    teaser_template='course_teaser.liquid'
  %}
  
  {% assign events = site.events | where: 'trainer', page.id | map: 'id' %}
  {%
    include section.liquid
    title="Upcoming Events"
    teasers=events
    teaser_template='event_teaser.liquid'
  %}
</article>
