---
layout: base
---
<dl class="container">
  {% for collection in site.collections %}
    <dt>
      {% assign slug = collection.title | slugify %}
      <a href="{{ site.baseurl | append: '/' | append: slug }}">
        {{ collection.title }}
      </a>
    </dt>
    <dd>
      {% if collection.output %}
        <ul>
          {% for doc in collection.docs %}
            <li>
              <a href="{{ site.baseurl | append: doc.url }}">
                {{ doc.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        {{ collection.docs | map: 'title' | join: ', ' }}
      {% endif %}
    </dd>
  {% endfor %}
</dl>
