---
layout: base

brief: |
  We are a collective of experienced technologists
  who care deeply about the art of software development.
  
  We offer in-depth courses on niche technical topics.

testimonials:
  - /testimonials/arvind-kota
  - /testimonials/anurag-mathur
  - /testimonials/ml-vishal-vmware

listed_courses:
  - /courses/python-foundation-course
  - /courses/advanced-python
  - /courses/practical-machine-learning
  - /courses/git

---

<header class="banner">
  <div class="container">
    <h1 class="banner-title size-xlarge">
      Hello
    </h1>
    <div class="prose measure-10words size-large">
      {{ page.brief | markdownify }}
    </div>
    <a class="title-label no-underline" href="{{ site.baseurl | append: '/about' }}">
      <span class="size-small">
        More about us&nbsp;&rarr;
      </span>
    </a>
  </div>
</header>


{% assign upcoming_events = site.events | where:"active", "true" %}
{% if upcoming_events.size > 0  %}
  <div class="container">
    <h2 class="collection-heading">
      <a href="{{ site.baseurl | append: '/events' }}">
        Upcoming Sessions
      </a>
    </h2>
    <div class="cards-container clearfix">
      {% for event in upcoming_events limit:2 %}
        {%
          include event_teaser.liquid
          event=event
        %}
      {% endfor %}
    </div>
    <a class="title-label size-small no-underline" href="{{ site.baseurl | append: '/events' }}">
      View all events &rarr;
    </a>
  </div>
{% endif %}


<div class="container">
  <h2 class="collection-heading">
    <a href="{{ site.baseurl | append: '/courses' }}">
      Our Courses
    </a>
  </h2>
  <div class="cards-container clearfix">
    {% for id in page.listed_courses %}
      {%
        include course_teaser.liquid
        id=id
        show_trainers=false
      %}
    {% endfor %}
  </div>
  <a class="title-label size-regular no-underline" href="{{ site.baseurl | append: '/courses' }}">
    View all courses &rarr;
  </a>
</div>


<div class="container">
  <h2 class="collection-heading">
    Our Clients
  </h2>
  <ul class="logos-list clearfix">
    {% for client in site.clients %}
      <li>
        <a href="{{ client.links.web }}">
          <figure class="logo-hold contain-width" style="background-image: url('{{ site.baseurl | append: client.logo }}')">
            <img class="hidden" alt=" " src="{{ site.baseurl | append: client.logo }}">
          </figure>
          <h4 class="logo-title visuallyhidden">
            {{ client.title }}
          </h4>
        </a>
      </li>
    {% endfor %}
  </ul>
</div>


<div class="container">
  {% for id in page.testimonials %}
    {%
      include testimonial.liquid
      id=id
    %}
  {% endfor %}
</div>
